// Place all the styles related to the FreedomMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  text-align: center;
  background-image: image-url("Freedom_Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family:sans-serif;
}

h1{
  font-weight: bold;
}

div#forMessageInput{
  text-align: center;
  width:50%;
  margin: auto;
}

div#senderInputContainer{
  margin: auto;
  width: 30%;
}

input#senderInput{
  text-align: center;
  font-style: oblique;
}


textarea{
  resize:none;
  width: 50%;
}

div#forContainerMessageAndSearch{
  margin: auto;
  width:70%;
  border: 7px solid coral;
  background-color: orange;
}

div#forContainerSearch{
  text-align: right;
}

footer{
  padding-top: 60px;
  font-weight: bold;
  font-size: 1.5em;
}

#entry{
  margin: auto;
  width: 80%;
  min-height: 120px;
  background-color: white;

}

#sender{
  text-align: left;
  word-wrap: break-word;
  vertical-align:top;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
  padding-bottom: 1px;
  font-weight: bold;
}

#message{
  text-align: left;
  margin-right: 2%;
  margin-left: 2%;
  word-wrap: break-word;
}

#dateTime{
  text-align: right;
  margin-right: 2%;
  font-weight: bold;
}
